@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: "Roboto";
    color: black;
}

/* header */
header {
    display: flex;
    /* Justifica el logo y el nombre de Pokedex */
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: rgb(255, 188, 10);
}
nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(236, 125, 16);
}
nav a {
    padding: 25px;
    color: black;
}
nav a:hover {
    background-color: rgb(252, 46, 0);
    font-weight: 440;
}
header img {
    width: 50px;
}

#lista-pokemones-div img {
    width: 200px;
}
#lista-pokemones-div {
    display: flex;

}
.pokemon-info {
    text-align: center;
    background-color: rgb(226, 255, 3);
    margin: 10px;
    padding: 10px;
}
.pokemon-info:hover {
    background-color: rgb(255, 192, 2);
    font-weight: bold;
}
main h2 {
    text-align: center;
    padding: 10px;
}
main h4 {
    padding: 10px;
    font-weight: 400;
}
